.main-home {
    display: flex;
    flex-direction: column;
}

.main-home .features {
    background-color: #FFFFFF;
    display: flex;
    /*flex-direction: column;*/
}

@media (min-width: 920px) {
    .features {
        flex-direction: row;
    }
}

.Features_card {
    display: flex;
}